/* line 1, ../sass/style.scss */
#searchInput {
  width: 200px;
}

/* line 5, ../sass/style.scss */
.navbar-brand {
  padding: 13px 15px;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
/* Toggle Styles */
/* line 16, ../sass/style.scss */
#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 24, ../sass/style.scss */
#wrapper.toggled {
  padding-left: 250px;
}
/* line 27, ../sass/style.scss */
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
/* line 31, ../sass/style.scss */
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* line 37, ../sass/style.scss */
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #E2E2E2;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 52, ../sass/style.scss */
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

/* Sidebar Styles */
/* line 60, ../sass/style.scss */
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 68, ../sass/style.scss */
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
/* line 72, ../sass/style.scss */
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
/* line 78, ../sass/style.scss */
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
/* line 84, ../sass/style.scss */
.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

/* line 90, ../sass/style.scss */
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

/* line 96, ../sass/style.scss */
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

/* line 100, ../sass/style.scss */
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media (min-width: 768px) {
  /* line 106, ../sass/style.scss */
  #wrapper {
    padding-left: 250px;
  }

  /* line 110, ../sass/style.scss */
  #wrapper.toggled {
    padding-left: 0;
  }
  /* line 113, ../sass/style.scss */
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  /* line 118, ../sass/style.scss */
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  /* line 123, ../sass/style.scss */
  #sidebar-wrapper {
    width: 200px;
  }

  /* line 127, ../sass/style.scss */
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
}
