*
{
	margin: 0 auto 0 auto;
	text-align:left;
 }
 
html, body
{
	background-color:#AAAAAA;
	text-align: center;
}

body 
{
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: black;
}

#container
{
	background: #FFF;
    display: block; 
    height:auto;
    position: relative; 
    width: 960px;
	border: 5px solid black;
	-moz-border-radius:30px;
	border-radius:30px;
	position: relative;
}

.required
{
	color:red;
}

/****************Header*********************/
#header
{
	background-color: #fff;
    border-radius: 24px 24px 24px 24px;
    height: 198px;
    width: 960px;
	position: relative;
}

#header h1
{
	position:absolute;
	text-align:left;
	color:#FFFFFF;
	font-size:43px;
	color:#FFF;	
	left:14px;
	top:18px;
}


#header h2
{
	position:absolute;
	text-align:right;
	color:#A9D1FA;
	left:490px;
	top:38px;
	width:400px;
}

#welcomebar
{
	background-color:black;
	color:white;
	height:30px;
	width:960px;
	margin-top:5px;
	float:left;
	clear:both;
}

#welcomebar .message
{
	padding-left:5px;
	padding-top:6px;
	font-weight:bold;
}

#mainpic
{
	padding: 10px;
	border-radius: 24px 24px 24px 24px;
	width:685px;
	height:151px;	
	padding-bottom: 0px;
	background-color: white;
	float:left;
	padding-top:10px;
	position:relative;
	z-index:1;
}
/************************Navigation**************************/
#uppernav
{
	position:relative;
	z-index:6;
	float:right;
	margin-top:-30px;
	margin-right: 5px;
	min-width:300px;
}

#uppernav  a
{
	float:right;
	margin-left: 3px;
}

#boldlist li 
{
	font-weight:bold;
}

#content
{
	margin: 0 auto 10px;
	display:block;
	width:930px;
	height:auto;
	padding-left:10px;
	padding-top:15px;
	padding-right:10px;
	padding-bottom:5px;
	background-color:white;
	overflow:auto;
	position:relative;
}

#menu
{
	height: 25px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	clear:both;
	font-size: 13px;
	padding-left:0px;
	padding-right:0px;	
	color: black;
    margin-bottom: 0;
    margin-top: 3px;
    padding-bottom: 0;
    width: 960px;
	float:left;
}

.user
{
float: left;
/*height: 36px;*/
display: inline;
text-align: center;
text-decoration: none;
color: #ffffff;
font-weight: bold;
padding-top: 18px;
font-size: 15px;
padding-left:0px;
padding-right:0px;	
}

.login
{
float: right;
height: 36px;
display: inline;
text-align: center;
text-decoration: none;
color: #ffffff;
font-weight: bold;
padding-top: 18px;
font-size: 15px;
padding-left:0px;
padding-right:0px;	
}

#register label 
{
width: 10em; 
text-align: left; 
float: left;
}

#register.row 
{
display: block; 
width: 100%; 
margin-top: 25px; 
margin-bottom: 25px; 
vertical-align: top; 
clear: left; 
font-size: .8em; 
}

p
{
	text-align: left;
}


.flip-vertical 
{
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: flipv; /*IE*/
	vertical-align: middle;
	padding-right: 20px;
	float: right;
	padding-bottom: 20px;
    padding-top: 0px;
}

.unflipped
{
	vertical-align: middle;
	float: right;
	padding-right: 20px;
	padding-top: 20px;
}
 
a .tabs
{
	text-decoration:none !important;
} 
 
.tabs
{
	position:relative;
	margin:0 2px;
	color:white;
	background-color:black;
	display:inline;
	float:left;
	padding:3px 5px;
	border:2px black solid;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	text-decoration:none !important;
	cursor:pointer;
	z-index:3;
}
 
.tabs:hover
{
	color:white;
	background-color:gray;
}

.alert
{
	position:relative;
	margin:0 2px;
	display:inline;
	float:left;
	padding:3px 5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	text-decoration:none !important;
	cursor:pointer;
	z-index:3;
	
	background-color:#CC1100;
	border:2px #DA2028 solid;
	border-bottom:3px #DA2028 solid;
	color:white;
}

.alert:hover
{
	color:white;
	background-color:red;
}

#tabbottomborder
{
	position:relative;
	width: 960px;
	background-color:black;
	height:3px;
	float:left;
	margin-top: -3px;
	z-index:1;
}

a
{
	text-decoration: none;
}

#content h1
{
	text-align:center;
	width:100%;
}

/********************************clickables******************************************/

.mainbutton {
	-moz-box-shadow:inset 0px 3px 0px -4px #ffffff;
	-webkit-box-shadow:inset 0px 3px 0px -4px #ffffff;
	box-shadow:inset 0px 3px 0px -4px #ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #918c8b;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1MjIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM3MDcwNzAiIG9mZnNldD0iMC4wNSIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c1MjIpIiAvPgo8L3N2Zz4=);
	background-color:#000;
	position: relative;
}

.mainbutton:hover 
{
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc2MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIG9mZnNldD0iMC4wNSIvPjxzdG9wIHN0b3AtY29sb3I9IiM3MDcwNzAiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c2MjgpIiAvPgo8L3N2Zz4=);
	background-color:#AAA;
}

.invertmainbutton
{
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc2MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIG9mZnNldD0iMC4wNSIvPjxzdG9wIHN0b3AtY29sb3I9IiM3MDcwNzAiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c2MjgpIiAvPgo8L3N2Zz4=);
	-moz-box-shadow:inset 0px 3px 0px -4px #ffffff;
	-webkit-box-shadow:inset 0px 3px 0px -4px #ffffff;
	box-shadow:inset 0px 3px 0px -4px #ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #918c8b;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
	background-color:#AAA;
	position: relative;
}

.invertmainbutton:hover
{
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1MjIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM3MDcwNzAiIG9mZnNldD0iMC4wNSIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c1MjIpIiAvPgo8L3N2Zz4=);
	background-color:#000;
}

.mainbutton:active, .invertmainbutton:active, .button:active
{
	position:relative;
	top:1px;
}

.button {
	-moz-box-shadow:inset 0px 3px 0px -4px #ffffff;
	-webkit-box-shadow:inset 0px 3px 0px -4px #ffffff;
	box-shadow:inset 0px 3px 0px -4px #ffffff;
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc1MjIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM3MDcwNzAiIG9mZnNldD0iMC4wNSIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c1MjIpIiAvPgo8L3N2Zz4=);
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #918c8b;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 14px;
	text-decoration:none;
	text-shadow:1px 1px 0px #000000;
	background-color:#000;
	position: relative;
}

.button:hover 
{
	background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc2MjgiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMwMDAwMDAiIG9mZnNldD0iMC4wNSIvPjxzdG9wIHN0b3AtY29sb3I9IiM3MDcwNzAiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c2MjgpIiAvPgo8L3N2Zz4=);
	cursor:pointer;
	background-color:#AAA;
}

.new
{
	float:right;
	color:white;
	z-index:10;
}

.edit
{
	float:right;
	width:auto;
	margin: 0 5px;
}

.delete
{
	float:right;
	width:auto;
	margin: 0 5px;
}

.arrow
{
	float:right;
	padding-right:10px;
	margin-top:1px;
}

.arrow img
{
	width: 17px;
	height: 15px;
}

.arrow img:hover
{
	cursor:pointer;
}

.arrowimage
{
	background-image:url('../images/RedArrowFlipped.png');
	width:21px;
	height:16px;
}

/****************************Content******************/

.border
{
	background-color:white;
	border:1px solid black;
	border-top:0;
}

.selectedheadingorg, .selectedheadingorg2, .selectedheadingloc, .selectedheadingloc2, .selectedheading , .selectedheading2, 
.redselectedheading,  .greenselectedheading, .yellowselectedheading
{
	background-color:white;
	color:black;
	padding:3px 0;
	font-weight:bold;
	text-align:center;
	border-bottom: 1px solid black;
	height: 16px;
	cursor:pointer;
	font-size: 14px
}

.heading, .heading2, .headingorg, .headingorg2, .headingloc, .headingloc2, .redheading, .greenheading, .yellowheading
{
	padding:3px 0;
	font-weight:bold;
	text-align:center;
	height: 16px;
	cursor:pointer;
	font-size: 14px
}

.heading
{
	background-color:black;
	color:white;
}
.heading2
{
	background-color:#AAAAAA;	
	color:black;
}
/* org heading bars */
.headingorg
{
	background-color:#A4AEB5;
	color:black;
}

.headingorg2
{
	background-color:#E0E6E6;	
	color:black;
}
/* loc heading bars */
.headingloc, .headingloc2
{
	background-color:#AAAACC;
	color:black;
}

.redheading
{
	background-color:red;	
	color:black;
}

.yellowheading
{
	background-color:yellow;	
	color:black;
}

.greenheading
{
	background-color:#00FF00;	
	color:black;
}


.headinglabels
{
	float: left;
    width: 250px;
	overflow:hidden;
	height:17px;
}

.headingbarorg2 .headinglabels, .headingbarorg .headinglabels 
{
    width: 800px;
}

.headingbarloc2 .headinglabels, .headingbarloc .headinglabels 
{
    width: 800px;
}

.orginfolabels
{
	border: 5px dotted red;
}
.expandcontent, .fullyexpandcontent
{
	display: block;
	padding:3px;
	overflow:auto;
	font-size:11pt;
	/*font-weight:bold;*/
}

.expandcontent
{
	display:none;
}

.expandedlocation
{
	background-color: #CC1100;
}

.expandcontent .labels, .fullyexpandcontent .labels
{

	width:48%;
	float:left;
	border:0;
	padding-bottom:10px;
	padding-top:10px;
	background-color:white;
	padding-left:10px;
	
}
.labels2
{

	
	float:left;
	border:0;
	padding-bottom:10px;
	padding-top:0px;
	background-color:white;
	padding-left:0px;
	
}

.expandcontent .notes, .fullyexpandcontent .notes
{
	clear: both;
    float: left;
    overflow: auto;
	padding-bottom: 10px;
    padding-top: 10px;
    width: 890px;
	padding-left:10px;
}

.indent label.error 
{
	margin-left: 0;
}

label.error 
{
	font-size: 0.8em;
	color: #F00;
	font-weight: bold;
	display: block;
}

input.error, #signup select.error  #choseone
{
	background: #FFA9B8;
	border: 1px solid red;
}

#additionalstudent
{
	position:absolute;
	right:20px;
	bottom:38px;
	font-weight:bold;
	font-size:14px;
}

.additionalcombo, .additionalbattery, .additionalpad, .additionalkeycode, .additionalchecker, #additionalstudent
{
	cursor:pointer;
}

.batteryblock, .pakblock, .padblock
{
	float:left;
}

.aedblock, .aedcheck1block, .aedcheck2block
{
	overflow: hidden;
	float:left;
	clear:both;
	margin: 5px 0;
	width:100%;
}

.aedcheck1block, .aedcheck2block
{
	margin: 5px;
}

.alertheader
{
	margin-top:-10px;
	text-align:center;
	background-color:red;
	color:white;
	padding:5px;
	font-weight:bold;
}

.ui-autocomplete-loading 
{ 
	background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; 
}

.datehint
{
	font-size:8px;
	font-weight:bold;
	color:gray;
}

.hasDatepicker
{
	position: relative; 
	z-index: 100000;
}

.falsesubmit
{
	border:0px;
	background-color:transparent;
	width:100%
}
.falsesubmit:hover
{
	background-color:#DFDFDF;
	border-radius:10px;
	cursor:pointer;
	position: relative;
}

.falsesubmit:active
{
	padding-left: 6px;
	cursor:pointer;
}

/****************************Message Center *************************/

.subject
{
	float:left;
	width: 183px;
	border: 0px solid black;
	border-top:3px solid black;
	padding-top:5px;
	padding-left:5px;
	padding-bottom:5px;
	font-size:16px;
	background-color:#fff;
}

.subject:hover
{
	background-color:#CC1100;
	color:#FFF;
	cursor:pointer;
}

/***************************Scheduler***************************/

.scheduler
{
	background-color:#000;
}

.schedulerheadings
{
	color:#FFFFFF;
	padding:0;
	text-align:center;
}

.schedulertoday
{
	border:2px solid #000;
	background-color:#DFDFDF;'
}

.schday{
	border-color:black;
	border-width:1px;
	border-style:solid;
	padding:3px;
	width:112px;
	height:110px;
}

.clearschday{
	border-color: white;
    border-style: solid;
    border-width: 1px;
    height: 110px;
    padding: 3px;
    width: 112px;
}

/******************/
.main, .selected
{
	display:none;
}

#aedcheck table td
{
	border-color: #000;
}

.sidewaystext {
background-color: #AAA;
margin: 0;
padding: 0;
-webkit-transform: rotate(-90deg);
white-space: nowrap;
display: inline-block;
}

.immunizations_person:hover, .licenses_person:hover, .training_person:hover{
	cursor:pointer;
}

#actioncopyperson, #actioncopystudent{
	float:right;
	cursor:pointer;
}

.adjustprints:hover{
	cursor:pointer;
}