* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

.no-js [data-responsive-menu] ul {
    display: none;
}

#heading-logo {
    padding: .5rem;
    background-color: #ffffff;
}

.top-bar, .top-bar ul {
    background-color: #0078C1;
    color: #ffffff;
}

#sub-heading {
    background-color: #c2e0f6;
    border-bottom: 2px solid #0078c1;
    padding: .1rem .5rem;
    font-size: 18px;
}

.content {
    background-color: #ffffff;
    border: 1px solid #bababa;
}

.content label {
    font-weight: bold;
    color: #757575;
    font-size: 16px;
}

.content input, .content input:focus, .content textarea, .content select, .content select:focus {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

.content input, .content select {
    height: 2rem;
}

.form-field {
    border: 1px solid #bababa;
    padding: .25rem 1rem;
}

.title {
    margin-top: .5rem;
}